{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/room_style.css">
{% endblock %}

{% block content %}
    {% include 'Room/title.html' %}
    <section class="picture picture_chambre">
        <div class="justify-content-around doors">
            <div class="passage_chambre_conteneur col-offset-1">
                <a href="/Room/passage" class="attic-btn stretched-link"></a>
            </div>
        </div>
    </section>
    {% include 'Room/text.html' %}
    {% include 'Room/replay.html' %}
{% endblock %}