{% extends 'layout.html.twig' %}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{monsters.1.name}}</h5>
        <p class="card-text">{{monsters.1.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Niveau</li>
        <li class="list-group-item">Attaque : 1800</li>
        <li class="list-group-item">Defense : 1600</li>  </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
{% endblock %}