{% extends 'layout.html.twig' %}

{% block content %}
    <figure class="monster">
        <button class="btn-card" onsubmit="">
            <img src="{{session.monster1.picture}}" alt="need help">
        </button>
    </figure>
{% endblock %}