{%  block content %}
<section class="picture">
    <div class="row justify-content-around doors">
        <div class="cabinet_conteneur col-offset-1">
            <a href="#" class="cabinet-btn attic-btn stretched-link"></a>
        </div>
        <div class="couloir_conteneur col-offset-4">
            <a href="#"  class="couloir-btn attic-btn stretched-link"></a>
        </div>
    </div>
</section>
{% endblock %}