{% extends 'layout.html.twig' %}
{% block content %}
    <figure>
        <button class="btn-card" onsubmit="">
            <img src="{{session.monster2.picture}}" alt="need help">
        </button>
    </figure>
{% endblock %}