
<section class="replay">
    <div class="button">
<button type="button" class="btn btn-dark btn-lg" onclick="location.href='http://localhost:8000/Monster/destroySession'" >Rejouer</button>
    </div>

<div class="container">
<div class="song">
    <div class="title"></div>
    <div class="pause" onclick="togglePlay()">🔊</div>
    <div class="player">
        <audio class="audio" src="/assets/Music/DAGGERFALL_-_Scary_Dungeon_7.ogg" autoplay="autoplay" type="audio" loop=""></audio>
    </div>
</div>
</div>
    {% block javascripts %}
    <script type="text/javascript" src="/assets/JS/mute.js"></script>
    {% endblock %}
</section>