{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/room_style.css">
{% endblock %}

{% block content %}

        {% include 'header.html' %}

        {% include 'text.html' %}


    <section class="picture"><h2>picture</h2></section>
    <section class="text"><h2>text</h2></section>
    <section class="monster"><h2>monster</h2></section>
    <section class="replay">
        <button type="button" class="btn btn-dark btn-lg h-8">Rejouer</button>
    </section>
{% endblock %}

 {% block javascript %}
     <
 {% endblock %}