<DIV class="text" ID=bloc></DIV>

<SCRIPT LANGUAGE=JavaScript>


    var chaine = "Salon :\n" +
        "\n" +
        "Vous arrivez dans le salon. Tout semble calme en apparence, cependant vous apercevez par moment de " +
        "petites lueurs que vous n’arrivez pas à identifier. Il y a également des craquements " +
        "étranges qui retentissent.";
    var nb_car = chaine.length;
    var tableau = chaine.split("");
    texte = new Array;
    var txt = '';
    var nb_msg = nb_car - 1;
    for (i=0; i<nb_car; i++) {
        texte[i] = txt+tableau[i];
        var txt = texte[i];
    }

    actual_texte = 0;
    function changeMessage()
    {
        document.getElementById("bloc").innerHTML = texte[actual_texte];
        actual_texte++;
        if(actual_texte >= texte.length)
            actual_texte = nb_msg;
    }
    if(document.getElementById)

        setInterval("changeMessage()",25) /* la vitesse de defilement (plus on a une valeur faible plus
texte s'affiche rapidement) */
</SCRIPT>