{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style-home-game-over.css">
{% endblock %}
{% block content %}

    <audio controls autoplay="">
        <source src="assets/Music/DAGGERFALL_-_Scary_Dungeon_1.ogg" type="audio/mpeg">
        <source src="assets/Music/DAGGERFALL_-_Scary_Dungeon_4.ogg" type="audio/mpeg">
        <source src="assets/Music/DAGGERFALL_-_Scary_Dungeon_7.ogg" type="audio/mpeg">
        Votre navigateur ne supporte pas la balise audio.
    </audio>
    <video autoplay loop id="bgvid">
        <source src="/assets/movie/Homepage-fond.mp4" type="video/mp4">
    </video>
    <div class="box-title">
        <h1 class="index-title-level-1">La Maison</h1>
        <h2 class="index-title-level-2">En</h2>
        <h3 class="index-title-level-3">T</h3>
    </div>
    <div class="buttons">
    <div class="box-button-play">
        <a href="/Scenario/Scenario" class="link-button-play-index"><button class="button-play-index">Histoire</button></a>
    </div>
    <div class="box-button-play">
        <a href="/Monster/transformToSession" class="link-button-play-index"><button class="button-play-index">Jouer (à vos risques et périls)</button></a>
    </div>
    </div>
    <div class="box-hackathon">
        <p class="txt-hackathon-infos">Hackathon Wild Code School Orléans 30-31 octobre 2019</p>
        <p class="credits">Caroline, Olivier, Valentin, Wilfried, Lucas</p>
    </div>
{% endblock %}
