*{
    box-sizing: border-box;
}

body {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    overflow: hidden;
    background-color: black;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 15vh 60vh 25vh;
    grid-template-areas:
            "picture title"
            "picture monster"
            "text replay";
    color: whitesmoke;
}

.title {
    grid-area: title;
    background-color: black;
}

.monster {
    grid-area: monster;
    background-color: black;
}

.text {
    grid-area: text;
    background-color: black;
}

.replay {
    grid-area: replay;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: black;
}

.replay button {
    margin: 20px;
    border-radius: 3px;
    width: 150px;
    font-family: 'Roboto', sans-serif;

}

.replay .pause {
    width: 100%;
    text-align: right;
    padding-right: 40px;

}

.doors {
    width: 100%;
    height: 100%;
    display: grid;
}

/* Partie Grenier */

.picture {
    grid-area: picture;
}

.picture_attic {
    background: url("/assets/images/atticChoice.jpg") no-repeat center center;
    background-size: cover;
}


.picture_attic .doors {
    grid-template-columns: 2fr 2fr 4fr 2.5fr 1fr;
    grid-template-rows: 23% 77%;
    grid-template-areas:
                ". . . . ."
                ". left_door . right_door .";
}


.cabinet_conteneur {
    grid-area: left_door;
}

.cabinet_conteneur,.couloir_conteneur {
    position: relative;
    border-radius: 10px;
}

.couloir_conteneur {
    grid-area: right_door;
}

.couloir_conteneur:hover, .cabinet_conteneur:hover {
    background-color: rgba(0,0,0,0.13);
}


/* Partie Couloir */

.picture_couloir {
    background: url("/assets/images/corridor.jpg") no-repeat center center;
    background-size: cover;
}


.picture_couloir .doors {
    grid-template-columns: 5.6fr 1fr 5fr 1fr 3fr;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas:
            ". . . . ."
            ". chambre . mort ."
            ". . . . .";
}

.chambre_conteneur {
    grid-area: chambre;
}

.chambre_conteneur,.mort_conteneur {
    position: relative;
    border-radius: 10px;
}

.mort_conteneur {
    grid-area: mort;
}

.mort_conteneur:hover, .chambre_conteneur:hover {
    background-color: rgba(0,0,0,0.13);
}

/* Partie Cabinet */

.picture_cabinet {
    background: url("/assets/images/curiosityCabinet.jpg") no-repeat center center;
    background-size: cover;
}


.picture_cabinet .doors {
    grid-template-columns: 3fr 0.2fr 5.6fr;
    grid-template-rows: 26% 9% 65%;
    grid-template-areas:
            ". . ."
            ". passage ."
            ". . .";
}

.passage_cabinet_conteneur {
    grid-area: passage;
}

.passage_cabinet_conteneur {
    position: relative;
    border-radius: 10px;
}


.passage_cabinet_conteneur:hover{
    background-color: rgba(0,0,0,0.13);
}

/* Partie Chambre */

.picture_chambre {
    background: url("/assets/images/bedroom.jpg") no-repeat center center;
    background-size: cover;
}


.picture_chambre .doors {
    grid-template-columns: 2fr 1fr 5.6fr;
    grid-template-rows: 53% 10% 37%;
    grid-template-areas:
            ". . ."
            ". passage_chambre ."
            ". . .";
}

.passage_chambre_conteneur {
    grid-area: passage_chambre;
}

.passage_chambre_conteneur {
    position: relative;
    border-radius: 10px;
}

.passage_chambre_conteneur:hover {
    background-color: rgba(0,0,0,0.13);
}


/* Partie passage_chambre */


.picture_passage {
    background: url("/assets/images/secretPassage.jpg") no-repeat center center;
    background-size: cover;
}


.picture_passage .doors {
    grid-template-columns: 7.2fr 0.6fr 4.2fr;
    grid-template-rows: 65% 10% 25%;
    grid-template-areas:
            ". . ."
            ". passage_chambre ."
            ". . .";
}

.passage_conteneur {
    grid-area: passage_chambre;
}

.passage_conteneur {
    position: relative;
    border-radius: 10px;
}

.passage_conteneur:hover {
    background-color: rgba(0,0,0,0.13);
}

/* Partie salon */


.picture_salon {
    background: url("/assets/images/livingRoom.jpg") no-repeat center center;
    background-size: cover;
}


.picture_salon .doors {
    grid-template-columns: 4.2fr 0.6fr 1.7fr 0.4fr 0.5fr 1fr 2fr;
    grid-template-rows: 30% 10% 20% 10% 30%;
    grid-template-areas:
            ". . . . . . ."
            ". . . . . mort_2 ."
            ". mort_1 . sortie . mort_2 ."
            ". . . . . mort_2 ."
            ". . . . . . .";
}

.mort_1_conteneur {
    grid-area: mort_1;
}

.mort_1_conteneur {
    position: relative;
    border-radius: 10px;
}

.mort_1_conteneur:hover {
    background-color: rgba(0,0,0,0.13);
}
.mort_2_conteneur {
    grid-area: mort_2;
}

.mort_2_conteneur {
    position: relative;
    border-radius: 10px;
}

.mort_2_conteneur:hover {
    background-color: rgba(0,0,0,0.13);
}
.sortie_conteneur {
    grid-area: sortie;
}

.sortie_conteneur {
    position: relative;
    border-radius: 10px;
}

.sortie_conteneur:hover {
    background-color: rgba(0,0,0,0.13);

}


/* Partie carte */

.card, .card ul li, .card-body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}


.card {
    padding: 20px;
}

.text_passage {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    padding: 25px;
    font-size: 1.4em;
}