*{
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 15vh 60vh 25vh;
    grid-column-gap: 0;
    grid-template-areas:
            "picture title"
            "picture monster"
            "text replay";
}

header {
    grid-area: title;
}

.picture {
    grid-area: picture;
}

.monster {
    grid-area: monster;
}

.text {
    grid-area: text;
}

.replay {
    grid-area: replay;
}