*{
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-rows: 15vh 60vh 25vh;
    grid-column-gap: 0;
    grid-template-areas:
            "picture title"
            "picture monster"
            "text replay";
}

header {
    text-align: center;
    grid-area: title;
    width: 16vw;
    margin: 2vw;
}

.picture {
    grid-area: picture;
}

.monster {
    grid-area: monster;
}

.text {
    grid-area: text;
}

.replay {
    grid-area: replay;

}

.text {

    width: 76vw;
    height: 18vw;
    background: BLACK;
    color: white;
    border-width: 1px;
    border-color: #000000;
    font-size: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    padding-left: 2vw;
    padding-bottom: 2vw;
}