.box-title {
	margin-top: 2em;
	text-align: center;
}
.index-title-level-1 {
	color: white;
	font-family: 'Staatliches', cursive;
	font-size: 4.5em;
	padding: 0;
}
.index-title-level-2 {
	color: white;
	font-family: 'Staatliches', cursive;
	font-size: 3em;
	padding: 0;
}
.index-title-level-3 {
	color: white;
	font-family: 'Staatliches', cursive;
	font-size: 8em;
	padding: 0;
}

.box-button-play {
	margin-top: 6em;
	text-align: center;
}

.link-button-play-index:hover {
	cursor: pointer;
}
.button-play-index {
	color: white;
	font-family: 'Staatliches', cursive;
	font-size: 1.5em;
	border: 2px solid white;
	padding: 1em;
	margin: auto;
	width: 300px;
	background-color: transparent;
}
.box-hackathon {
	margin-top: 3em;
	text-align: center;
}
.txt-hackathon-infos {
	color: white;
	font-size: 1.4em;
	font-family: 'Staatliches', cursive;
	margin-bottom: 1em;
}
.credits {
	color: white;
	font-size: 1.2em;
	font-family: 'Staatliches', cursive;
	margin-bottom: 1em;
}
video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}
.box-game-over {
	text-align: center;
	margin-bottom: 2em;
	margin-top: 2em;
}
.txt-game-over {
	color: red;
	font-size: 4em;
	font-family: 'Staatliches', cursive;
	margin-bottom: 1em;
}

.link-replay-game-over {
	color: grey;
	font-size: 3em;
	font-family: 'Staatliches', cursive;
	margin-bottom: 1em;
}
