{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style-scenario.css">
{% endblock %}

{% block content %}
        <video autoplay loop id="bgvid">
            <source src="/assets/movie/Homepage-fond.mp4" type="video/mp4">
        </video>
        <div class="box-scenario">
            <h1 class="scenario-title">Scénario</h1>
        </div>
        <div class="box-txt-scenario">
            <p class="txt-scenario">
                Cela fait quelques années que vous êtes installé dans votre petit cottage à Creepy Village.
            </p>
            <p class="txt-scenario">
                Chaque soir, après votre harassante journée de travail, vous rejoignez le pub poussiéreux du village, et écoutez les derniers potins. Cela n’est pas très intéressant, alors vous-vous retrouvez souvent au milieu du groupe des anciens du village.
            </p>
            <p class="txt-scenario">
                Il ne se passe pas une soirée sans que les vieux n’évoquent le sujet de la Maison en T.
            </p>
            <p class="txt-scenario">
                Une vieille masure à l’abandon, non loin de chez vous, un peu à l’écart du village.
            </p>
            <p class="txt-scenario-two">
                Les habitants évitent soigneusement de s’en approcher.
            </p>
            <p class="txt-scenario-two">
                Et pour cause...
            </p>
            <p class="txt-scenario">
                Vous avez entendu mille fois les histoires glauques qui entourent la maison :
            </p>
            <p class="txt-scenario">
                Une sorcière au quatorzième siècle, des messes noires au quinzième, un quadruple meurtre au dix-huitième, des actes de torture durant la Seconde Guerre Mondiale, la disparition de deux adolescents urbexeurs dans les années 90s…
            </p>
            <p class="txt-scenario">
                ...et des phénomènes inexpliqués : ombres aux fenêtres, hurlements semblant provenir de la cave de la maison, odeurs désagréables, lueurs étranges…
            </p>
            <p class="txt-scenario-two">
                Étrangement, vous-vous sentez attiré par la vieille bâtisse…
            </p>
            <p class="txt-scenario-two">
                Vous ne prenez pas toutes ces histoires au sérieux…
            </p>
            <p class="txt-scenario-two">
                Vous pensez que ce ne sont que des légendes…
            </p>
            <p class="txt-scenario">
                Une nuit, vous décidez d’aller visiter la Maison en T.
            </p>
            <p class="txt-scenario">
                Vous prenez votre lampe de poche et partez en direction de la bâtisse.
            </p>
            <p class="txt-scenario">
                Vous escaladez le grillage rouillé, traversez le jardin totalement envahi par les herbes, et approchez de la porte d’entrée.
            </p>
            <p class="txt-scenario">
                Vous devez mettre un coup d’épaule pour l’ouvrir.
            </p>
            <p class="txt-scenario">
                Parvenu à l’intérieur, vous êtes assailli par l’odeur de pourriture qui se dégage des lieux. Vous avancez dans le vestibule. Le faisceau de votre lampe éclaire le sol et les murs de la maison malmenés par le temps. Tout est calme.
            </p>
            <p class="txt-scenario-two">
                Soudain, la porte d’entrée se referme bruyamment derrière vous, votre lampe s’éteint, et vous êtes plongé dans le noir.
            </p>
            <p class="txt-scenario-two">
                Alors que vous perdez connaissance, des murmures résonnent autour de vous.
            </p>
            <p class="txt-scenario-two">
                [...]
            </p>
            <p class="txt-scenario-three">
                Vous-vous réveillez brusquement. Vous avez la tête qui tourne, et le cœur qui bat à toute vitesse. Vous apercevez au dessus de vous les tuiles du toit de la maison. Vous-vous trouvez donc dans le grenier.
            </p>
            <p class="txt-scenario-three">
                Plus qu’une idée en tête : sortir de la maison le plus vite possible, tout en collectant des informations sur les phénomènes paranormaux de la Maison en T.
            </p>
        </div>
        <div class="box-button-play-scenario">
            <a href="#" class="link-button-play-scenario"><button class="button-play-scenario">Let's Go</button></a>
        </div>
{% endblock %}
